section.contact
  h2 Find Me
  ul.label-list
    li
      label Email
      a steve@empatheticbot.com
    li
      label Work
      a Empatheticbot
    li
      label Github
      a sledsworth
    li
      label Twitter
      a sledsworth
    li
      label Twitter
      a sledsworth
    li
      label Twitter
      a sledsworth