ul.label-list
  li
    a(href="mailto:steve@empatheticbot.com") steve@empatheticbot.com
  li
    a(href="https://github.com/sledsworth") Github
  li
    a(href="https://stackoverflow.com/users/2580259/sledsworth") Stack Overflow
  li
    a(href="https://twitter.com/sledsworth") Twitter
  li
    a(href="https://instagram.com/sledsworth") Instagram
  li
    a(href="https://f001.backblazeb2.com/file/empatheticbot/Resume.pdf") Resume