footer
	p 
		span &copy;
		| 2018-#{year} Steven Ledsworth
	a.no-underline(href="https://twitter.com/sledsworth")
		include ../../public/images/twitter-logo.svg
	a.no-underline(href="https://github.com/sledsworth")
		include ../../public/images/github.svg
