header.flex
  a(href="/").wide.header-wrapper
    div.avatar.small.middle.inline
      img(class="thumbnail" src="https://f001.backblazeb2.com/file/empatheticbot/about.jpg" alt="Handsome portrait of Steve" title="Handsome portrait of Steve")
    div.inline.middle.left-2
      h1.header-title Steve Ledsworth
      p.header-subtitle A pretty nice website.
  .narrow.header-links
    include ./contact.pug
