.post-container
  .post
    .article-heading
      .post-heading
        != post.header
        if post.metadata.isLinkHeader
          .link-icon.inline
            include ../../public/images/link.svg
      .post-date= post.date.display
    .post-body!= post.body