.post-container
  .post
    .article-heading
      .post-heading
        //- if post.metadata.isLinkHeader
        //-   .link-icon.inline
        //-     include ../../public/images/link.svg
        != post.header
      .post-date= post.date.display
    .post-body!= post.body