form(action="/search")
  span.search-icon
    include ../../public/images/search.svg
  label.visually-hidden(aria-label="Search sledsworth.com", for="search") Search Site
  input(name="search", placeholder="Search sledsworth.com" type="text", value="", id="search")