extends ./layout

block title
  title home &ndash; sledsworth
block content
  .content-container
    if pageHeading
      h1 #{pageHeading}
    if posts 
      each post in posts
        include ./includes/post
