/* NO PREFERENCE & LIGHT MODE STYLES */
:root {
  --primary: #4286f4;
  --text: rgba(0, 0, 0, 0.8);
  --text-secondary: rgba(0, 0, 0, 0.4);
  --main-bg: #fdfdfd;
  --header-bg: #0d1017;
  --text-header: #7981a7c0;
  --subtle: rgba(0, 0, 0, 0.1);
}

/* DARK MODE STYLES */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #4286f4;
    --text: rgba(255, 255, 255, 0.7);
    --text-secondary: rgba(255, 255, 255, 0.4);
    --main-bg: #181e29;
    --header-bg: #2e2e2e;
    --subtle: rgba(255, 255, 255, 0.1);
  }
}

/* BASE ELEMENT STYLES */

* {
  padding: 0;
  margin: 0;
}

body {
  font: 18px 'Merriweather Sans', serif;
  background-color: var(--main-bg);
  line-height: 1.65;
  font-weight: 300;
  color: var(--text);
  overflow-y: scroll;
  letter-spacing: -0.01em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sup {
  line-height: 1;
}

img {
  width: 100%;
  box-shadow: 0 0 4rem var(--text-secondary);
  border-radius: 1rem;
}

/* HEADING STYLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 2.5em 0 1em;
  font-weight: 800;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

/* MAIN LAYOUT CLASSES */

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* CODE STYLES */

pre code.hljs span,
pre code.hljs {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
}

pre code.hljs span {
  background-color: transparent;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
  counter-increment: li;
}

ol li:before {
  content: '.'counter(li);
  color: var(--primary);
  display: inline-block;
  margin-left: -3px;
  margin-right: auto;
  text-align: right;
  direction: rtl;
  font-weight: bold;
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -1em;
  top: 0;
  color: var(--primary);
}

a {
  box-shadow: inset 0 -1px 0 var(--primary);
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
  transition: all ease 0.1s;
}

a:hover {
  color: var(--primary);
  box-shadow: inset 0 -3px 0 var(--primary);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

header {
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 320px;
  padding: 5em 2rem 5em 4rem;
  text-align: left;
  background-color: var(--header-bg);
  color: var(--text-header);
  box-shadow: 0 0 4rem var(--text-secondary);
  margin: 2em 1em;
  border-radius: 48px;
}

.about-me {
  max-width: 700px;
}

.thumbnail {
  border-radius: 50%;
  max-width: 8em;
  max-height: 8em;
  box-shadow: 0 0 4rem var(--text-secondary);
  margin-right: 1em;
  object-fit: cover;
}

.image-link {
  box-shadow: none;
  transition: all ease 0.1s;
}

.image-link img {
  transition: all ease 0.1s;
}

.image-link:hover {
  box-shadow: none;
}

.image-link:hover img {
  /* box-shadow: none; */
  transform: scale(1.1);
}

header a {
  color: var(--text-header);
}

.main-content {
  flex-shrink: 3;
  flex-grow: 10;
  flex-basis: 460px;
  padding: 5em 4rem 0 4rem;
  min-height: 100vh;
}

main {
  max-width: 700px;
}

.label-list li {
  list-style: none;
}

.label-list label {
  position: absolute;
  color: var(--text-secondary);
}

.label-list p {
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 7em;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 0.4em;
}

.margin-top-2 {
  margin-top: 0.8em;
}

hr {
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 4em 6rem;
}

footer {
  flex-basis: 100%;
  text-align: center;
  margin: 6rem 0 0;
  font-size: 0.75em;
  max-width: 700px;
  color: var(--text-secondary);
}

@media only screen and (max-width: 480px) {}

.post-date {
  font-size: 0.8em;
  color: var(--text-secondary);
}

.link-icon {
  height: 1.5em;
  width: 1.5em;
  margin-top: 1em;
  margin-left: -2em;
  margin-right: 0.5em;
}

.inline {
  display: inline-block;
}

.post-heading h1 {
  display: inline-block;
}


@media screen and (max-width: 420px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 4em 1.5rem;
  }

  header img.thumbnail {
    display: block;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5em 0 .5em;
  }

  .label-list label {
    position: relative;
  }

  .label-list p {
    display: block;
    margin-left: 0;
  }

  .main-content {
    padding: 3.5em 1.5rem 1em;
  }
}