/* NO PREFERENCE & LIGHT MODE STYLES */
:root {
  --primary: #4286f4;
  --secondary: #134ba6;
  --text: rgba(0, 0, 0, 0.8);
  --text-secondary: rgba(0, 0, 0, 0.4);
  --main-bg: #fdfdfd;
  --header-bg: #0d1017;
  --text-header: #7981a7c0;
  --subtle: rgba(0, 0, 0, 0.1);
  --shadow: rgba(0, 0, 0, 0.4);
  --article-bg: #f3f3f6;
}

/* DARK MODE STYLES */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #4286f4;
    --text: rgba(255, 255, 255, 0.7);
    --text-secondary: rgba(255, 255, 255, 0.4);
    --main-bg: #181e29;
    --header-bg: #0d1017;
    --subtle: rgba(255, 255, 255, 0.1);
    --shadow: rgba(0, 0, 0, 0.4);
    --article-bg: #0d1017;
  }
}

/* BASE ELEMENT STYLES */

* {
  padding: 0;
  margin: 0;
}

body {
  font: 18px 'Merriweather Sans', serif;
  background-color: var(--main-bg);
  line-height: 1.65;
  font-weight: 300;
  color: var(--text);
  overflow-y: scroll;
  letter-spacing: -0.01em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sup {
  line-height: 1;
}

img {
  width: 100%;
  box-shadow: 0 0 4rem var(--shadow);
  border-radius: 1rem;
}

/* HEADING STYLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 2em 0 1em;
  font-weight: 800;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

article h2:first-child {
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

.post {
  font-size: 0.9em;
}

.post-heading h1 {
  margin-bottom: 0;
}

/* MAIN LAYOUT CLASSES */

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* CODE STYLES */

pre code.hljs span,
pre code.hljs {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
}

pre code.hljs span {
  background-color: transparent;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
  counter-increment: li;
}

ol li:before {
  content: '.' counter(li);
  color: var(--primary);
  display: inline-block;
  margin-left: -3px;
  margin-right: auto;
  text-align: right;
  direction: rtl;
  font-weight: bold;
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -0.25rem;
  top: 0.5rem;
  color: var(--primary);
}

article ul li {
  list-style-type: none;
}

article ul li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -0.25rem;
  top: 0.5rem;
  color: var(--primary);
  font-size: 2rem;
  line-height: 2rem;
}

a:not(.header-wrapper) {
  box-shadow: inset 0 -2px 0 var(--primary);
  text-decoration: none;
  color: var(--text);
  transition: all ease 0.1s;
  /* background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--secondary)));
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none; */
}

a:hover {
  color: var(--primary);
  box-shadow: inset 0 -3px 0 var(--primary);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.home-header {
  flex-grow: 2;
  flex-shrink: 3;
  flex-basis: 200px;
  padding: 4em 2em 4em;
  text-align: left;
  background-color: var(--header-bg);
  color: var(--text-header);
  box-shadow: 0 0 4rem var(--shadow);
  margin: 2em 1em;
  border-radius: 48px;
  font-size: 0.9em;
}

.avatar.small {
  max-width: 120px;
  max-height: 120px;
}

.avatar {
  text-align: center;
}

.avatar img {
  max-width: 500px;
  max-height: 500px;
}

.about-me {
  max-width: 700px;
}

.thumbnail {
  border-radius: 50%;
  max-width: 8em;
  max-height: 8em;
  box-shadow: 0 0 4rem var(--shadow);
  margin-right: 1em;
  object-fit: cover;
}

.image-link.image-link {
  box-shadow: none;
  transition: all ease 0.1s;
}

.image-link img {
  transition: all ease 0.1s;
}

.image-link:hover {
  box-shadow: none;
}

.image-link:hover img {
  /* box-shadow: none; */
  transform: scale(1.1);
}

.home-header a {
  color: var(--text-header);
}

.main-content {
  flex-shrink: 3;
  flex-grow: 10;
  flex-basis: 400px;
  padding: 5em 4rem 0 4rem;
  min-height: 100vh;
}

main {
  /* max-width: 700px; */
}

.max-main-width {
  max-width: 700px;
}

.label-list li {
  list-style: none;
}

.label-list label {
  position: absolute;
  color: var(--text-secondary);
}

.label-list p {
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 5.5em;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 0.4em;
}

.margin-top-2 {
  margin-top: 0.8em;
}

hr {
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 4em 6rem;
}

footer {
  margin: 6rem 0 0;
  font-size: 0.75em;
  color: var(--text-secondary);
}

@media only screen and (max-width: 480px) {
}

.post-date {
  font-size: 0.8em;
  color: var(--text-secondary);
  margin: 0;
}

.link-icon {
  /* margin-left: -3em;
  margin-right: 0.8em; */
  vertical-align: sub;
  width: 1em;
  height: 1em;
  margin-left: 0.75em;
  /* padding: .1em; */
}

.inline {
  display: inline-block;
}

.post-heading h1 {
  display: inline;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin: 4rem 0 4rem;
}

article .wide {
  background: linear-gradient(var(--article-bg), var(--main-bg));
  border-radius: 8px;
  padding: 1rem 2rem;
}

article h1 {
  margin: 0.9rem 0 0 0;
  font-size: 1.5rem;
}

article h2 {
  font-size: 1.2rem;
}

article h3 {
  font-size: 1.05rem;
}

blockquote {
  border-left: 4px solid var(--primary);
  padding-left: 1rem;
  border-radius: 4px;
  color: var(--text-secondary);
  margin-left: 1rem;
  font-style: italic;
}

.narrow {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: auto;
  /* max-width: 320px; */
  /* min-width: 200px; */
  margin: 0.5rem 1.5rem;
  width: 240px;
}

.wide {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  /* max-width: 800px; */
  /* min-width: 400px; */
  margin: 0.5rem 1.5rem;
  width: 540px;
}

.header-links {
  font-size: 0.9rem;
  text-align: right;
  width: 200px;
}

.header-wrapper,
.header-wrapper:hover {
  vertical-align: middle;
  font-weight: inherit;
  box-shadow: none;
  color: var(--text);
  width: 460px;
}

.header-title {
  margin: 0;
  line-height: 1;
}

.header-subtitle {
  color: var(--text-secondary);
  margin: 0;
  line-height: 1;
  font-size: 0.9em;
}

.middle {
  vertical-align: middle;
}

.heading {
  margin-left: 2rem;
}

.header {
  margin-top: 6rem;
}

@media screen and (max-width: 780px) {
  .header-wrapper,
  .header-links {
    margin: 1rem 0 2rem;
    text-align: center;
  }
  .heading {
    width: 100%;
    margin: 1rem 1rem 0 0;
  }
  .header-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 16px;
  }

  .home-header {
    padding: 4em 1.5rem;
  }

  .home-header img.thumbnail {
    display: block;
    margin: auto;
  }
  .header,
  .narrow,
  .wide {
    text-align: center;
  }

  .heading {
    margin-top: 2rem;
    text-align: center;
  }

  article .wide {
    margin: 0;
    text-align: left;
  }

  article .wide {
    border-radius: 0;
  }

  /* .header-wrapper {
    width: 460px;
  } */

  .heading {
    margin: 1rem 0 0 0;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5em 0 0.5em;
  }

  .label-list label {
    position: relative;
  }

  .label-list p {
    display: block;
    margin-left: 0;
  }

  .main-content {
    padding: 3.5em 1.5rem 1em;
  }
}
